<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
   <bean id="simple" class="org.jboss.resteasy.test.spring.deployment.resource.SpringLocatingSimpleResource"/>
   <bean id="locating" class="org.jboss.resteasy.test.spring.deployment.resource.SpringLocatingLocatingResource"/>
</beans>
