<Context>

<Valve className="org.jboss.resteasy.examples.oauth.authenticator.OAuthBasicAuthenticator"
       oauthProviderName="org.jboss.resteasy.examples.oauth.authenticator.OAuthDBProvider"
       driver="org.hsqldb.jdbcDriver" 
       url="jdbc:hsqldb:mem:oauthdb" 
       username="SA" 
       password=""/>

</Context>
