# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      dependencies:
        patterns:
          - "*"
    ignore:
      - dependency-name: 'jakarta.el:jakarta.el-api'
        update-types: ['version-update:semver-major', 'version-update:semver-minor']
      - dependency-name: 'org.glassfish:jakarta.el'
        update-types: ['version-update:semver-major', 'version-update:semver-minor']
      - dependency-name: 'jakarta.persistence:jakarta.persistence-api'
        update-types: ['version-update:semver-major', 'version-update:semver-minor']
      - dependency-name: 'jakarta.servlet:jakarta.servlet-api'
        update-types: ['version-update:semver-major', 'version-update:semver-minor']
      - dependency-name: 'jakarta.xml.bind:jakarta.xml.bind-api'
        update-types: ['version-update:semver-major', 'version-update:semver-minor']
        # Version 4.2.x removes security manager support, currently we will not be upgrading to that version as we
        # cannot lose that support.
      - dependency-name: 'com.sun.istack:*'
        update-types: ['version-update:semver-major', 'version-update:semver-minor']
    open-pull-requests-limit: 10
  - package-ecosystem: "github-actions"
    # Workflow files stored in the
    # default location of `.github/workflows`
    directory: "/"
    schedule:
      interval: "daily"
  # 6.2 branch
  - package-ecosystem: "maven"
    directory: "/"
    target-branch: "6.2"
    schedule:
      interval: "daily"
      dependencies:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
    ignore:
      - dependency-name: 'io.projectreactor:*'
        # Allow bouncy castle to upgrade the minor versions
      - dependency-name: 'org.bouncycastle:*'
        update-types: ['version-update:semver-major']
      - dependency-name: '*'
        update-types: ['version-update:semver-major', 'version-update:semver-minor']
    open-pull-requests-limit: 10
  - package-ecosystem: "github-actions"
    # Workflow files stored in the
    # default location of `.github/workflows`
    directory: "/"
    target-branch: "6.2"
    schedule:
      interval: "daily"
  # 5.0 branch
  - package-ecosystem: "maven"
    directory: "/"
    target-branch: "5.0"
    schedule:
      interval: "daily"
      dependencies:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
    ignore:
      - dependency-name: 'io.projectreactor:*'
        # Allow bouncy castle to upgrade the minor versions
      - dependency-name: 'org.bouncycastle:*'
        update-types: ['version-update:semver-major']
      - dependency-name: '*'
        update-types: ['version-update:semver-major', 'version-update:semver-minor']
    open-pull-requests-limit: 10
  - package-ecosystem: "github-actions"
    # Workflow files stored in the
    # default location of `.github/workflows`
    directory: "/"
    target-branch: "5.0"
    schedule:
      interval: "daily"
