<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        ">

    <!-- Import basic SpringMVC Resteasy integration -->
    <import resource="classpath:springmvc-resteasy.xml" />

    <bean id="injectorFactory" class="org.jboss.resteasy.springmvc.test.spring.RequestScopedBeanTest$QualifierInjectorFactoryImpl">
    </bean>

    <bean id="testBean" class="org.jboss.resteasy.springmvc.test.spring.RequestScopedBeanTest$TestBean" scope="request">
    	<property name="configured" value="configuredValue"/>
    </bean>

    <bean id="testResource" class="org.jboss.resteasy.springmvc.test.spring.RequestScopedBeanTest$TestBeanResource"/>

</beans>
