<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd

		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <context:component-scan base-package="org.jboss.resteasy.spring.scanned" >
        <context:include-filter type="annotation" expression="javax.ws.rs.Path"/>
    </context:component-scan>
	<context:annotation-config />

	<!-- we're doing a mix of annotation scanning, @Configuration and XML beans 
		for the purposes of rounding out a variety of spring use cases -->
	<bean class="org.jboss.resteasy.spring.beanprocessor.ResourceConfiguration" />
	<bean class="org.jboss.resteasy.spring.beanprocessor.ServerConfiguration" />
	
    <bean id="bill" class="org.jboss.resteasy.spring.beanprocessor.Customer" p:name="bill"/>

    <bean id="myResource" class="org.jboss.resteasy.spring.beanprocessor.MyResource" p:customer-ref="bill" />
    <bean id="myInterceptedResource" class="org.jboss.resteasy.spring.beanprocessor.MyInterceptedResource"
    	p:customer-ref="bill" />
    <bean id="myResource2" class="org.jboss.resteasy.spring.beanprocessor.MyPrototypedResource"
          scope="prototype" p:customer-ref="bill" />

    <bean id="myProvider" class="org.jboss.resteasy.spring.beanprocessor.MyWriter"/>
    <bean id="myInterceptor" class="org.jboss.resteasy.spring.beanprocessor.MyInterceptor"/>

    <bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
        <property name="beanNames" value="myInterceptedResource" />
        <property name="interceptorNames">
            <list>
                <value>myInterceptor</value>
            </list>
        </property>
    </bean>
</beans>
