<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>
    <!--
         <appender name="file" class="org.apache.log4j.FileAppender">
         <param name="File" value="logs/eagledns.log" />
         <param name="Append" value="true" />
         <layout class="org.apache.log4j.PatternLayout">
             <param name="ConversionPattern" value="[%p] %d{[yyyy-MM-dd] [HH:mm:ss]} %C{1}.%M %m%n" />
         </layout>
     </appender> -->
    <!--
	<appender name="file" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="logs/eagledns.log" />
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="5" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%p] %d{[yyyy-MM-dd] [HH:mm:ss]} %C{1}.%M %m%n" />
		</layout>
	</appender>  -->

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param
                    name="ConversionPattern" value="[%p] %d{[yyyy-MM-dd] [HH:mm:ss]}
		%C{1}.%M %m%n"/>
        </layout>
    </appender>


    <root>
        <priority value="info"/>
        <appender-ref ref="console"/>
        <!-- <appender-ref ref="file" /> -->
    </root>
</log4j:configuration>
	
