# This workflow will build a Java project with Maven
# For more information see: https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions

name: Build Documentation and Distribution

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - '**'
    paths:
      - '.github/workflows/distribution-build.yml'
      - 'docbook/**'
      - 'distribution/**'

# Only run the latest job
concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:

  build-doc-dist:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: 'temurin'
          cache: 'maven'
      - name: Build Documentation and Distribution
        run: |
          mvn -B -ntp clean install site -DskipTests -Prelease -Pjboss-release -Dgpg.skip=true
