# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Jakarta REST TCK

on:
  push:
    branches:
      - 'main'
    paths:
      - 'pom.xml'
      - 'providers/**'
      - 'resteasy-bom/**'
      - 'resteasy-cdi/**'
      - 'resteasy-client/**'
      - 'resteasy-client-api/**'
      - 'resteasy-client-utils/**'
      - 'resteasy-core/**'
      - 'resteasy-core-spi/**'
      - 'resteasy-dependencies-bom/**'
      - 'resteasy-feature-pack/**'
      - 'resteasy-security/**'
      - 'server-adapters/resteasy-undertow-cdi/**'
  pull_request:
    branches:
      - '**'
    paths:
      - '.github/workflows/resteasy-tck.yml'
      - 'pom.xml'
      - 'providers/**'
      - 'resteasy-bom/**'
      - 'resteasy-cdi/**'
      - 'resteasy-client/**'
      - 'resteasy-client-api/**'
      - 'resteasy-client-utils/**'
      - 'resteasy-core/**'
      - 'resteasy-core-spi/**'
      - 'resteasy-dependencies-bom/**'
      - 'resteasy-feature-pack/**'
      - 'resteasy-security/**'
      - 'server-adapters/resteasy-undertow-cdi/**'

  schedule:
    - cron: '0 0 * * *' # Every day at 00:00 UTC
  workflow_dispatch:
    inputs:
      os:
        description: "Runner OS"
        required: true
        default: "ubuntu-latest"
        type: string
      javaVersion:
        description: "Java Version"
        required: true
        default: "17"
        type: string

# Only run the latest job
concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  run-tck:

    runs-on: ubuntu-latest
    timeout-minutes: 90
    strategy:
      fail-fast: false
      matrix:
        java: ['17', '21']

    steps:
      - name: Checkout RESTEasy
        uses: actions/checkout@v4
        with:
          path: resteasy
      - name: Checkout RESTEasy TCK Runner
        uses: actions/checkout@v4
        with:
          repository: resteasy/resteasy-tck-runner
          path: resteasy-tck-runner
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'
          cache: 'maven'
      - name: Build RESTEasy - JDK ${{ matrix.java }}
        id: resteasy-build
        run:  |
          cd resteasy
          mvn clean install -U -B -fae -DskipTests -Pjakarta-staging
          RESTEASY_VERSION="$(mvn -B help:evaluate -Dexpression=project.version -DforceStdout -q)"
          echo "RESTEASY_VERSION=$RESTEASY_VERSION"
          echo "RESTEASY_VERSION=$RESTEASY_VERSION" >> "$GITHUB_OUTPUT"
      - name: Run the Jakarta REST TCK - JDK ${{ matrix.java }}
        run:  |
          echo "RESTEASY_VERSION=${{ steps.resteasy-build.outputs.RESTEASY_VERSION }}"
          cd resteasy-tck-runner
          mvn clean install -U -B -fae -Dtck.debug.log=true -Dversion.org.jboss.resteasy="${{ steps.resteasy-build.outputs.RESTEASY_VERSION }}" -Djakarta.staging
      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: test-reports-${{ matrix.os }}-${{ matrix.java }}
          path: |
            '**/surefire-reports/*'
            '**/failsafe-reports/*'
      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: server-logs-${{ matrix.os }}-${{ matrix.java }}
          path: '**/server.log'
