# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Jakarta REST TCK - 6.2

on:
  push:
    branches:
      - '6.2'
    paths:
      - 'pom.xml'
      - 'providers/**'
      - 'resteasy-bom/**'
      - 'resteasy-cdi/**'
      - 'resteasy-client/**'
      - 'resteasy-client-api/**'
      - 'resteasy-client-utils/**'
      - 'resteasy-core/**'
      - 'resteasy-core-spi/**'
      - 'resteasy-dependencies-bom/**'
      - 'resteasy-security/**'
      - 'server-adapters/resteasy-undertow-cdi/**'
      - 'wildfly/**'
  pull_request:
    branches:
      - '**'
    paths:
      - '.github/workflows/resteasy-tck.yml'
      - 'pom.xml'
      - 'providers/**'
      - 'resteasy-bom/**'
      - 'resteasy-cdi/**'
      - 'resteasy-client/**'
      - 'resteasy-client-api/**'
      - 'resteasy-client-utils/**'
      - 'resteasy-core/**'
      - 'resteasy-core-spi/**'
      - 'resteasy-dependencies-bom/**'
      - 'resteasy-security/**'
      - 'server-adapters/resteasy-undertow-cdi/**'
      - 'wildfly/**'

  schedule:
    - cron: '0 0 * * *' # Every day at 00:00 UTC

# Only run the latest job
concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  run-tck:

    runs-on: ubuntu-latest
    timeout-minutes: 90

    steps:
      - name: Checkout RESTEasy
        uses: actions/checkout@v6
        with:
          path: resteasy
      - name: Checkout RESTEasy TCK Runner
        uses: actions/checkout@v6
        with:
          repository: resteasy/resteasy-tck-runner
          path: resteasy-tck-runner
          ref: 'jakarta-rest-3.1'
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: |
            17
            21
          distribution: 'temurin'
          cache: 'maven'
      - name: Build RESTEasy
        id: resteasy-build
        run:  |
          cd resteasy
          mvn clean install -U -B -fae -DskipTests
          RESTEASY_VERSION="$(mvn -B help:evaluate -Dexpression=project.version -DforceStdout -q)"
          echo "RESTEASY_VERSION=$RESTEASY_VERSION"
          echo "RESTEASY_VERSION=$RESTEASY_VERSION" >> "$GITHUB_OUTPUT"
      - name: Run the Jakarta REST TCK - JDK 17
        run:  |
          echo "RESTEASY_VERSION=${{ steps.resteasy-build.outputs.RESTEASY_VERSION }}"
          cd resteasy-tck-runner
          JAVA_HOME="${{env.JAVA_HOME_17_X64}}"
          echo JAVA_HOME="${JAVA_HOME}"
          export JAVA_HOME
          mvn -version
          mvn clean install -U -B -fae -Dtck.debug.log=true -Dversion.org.jboss.resteasy="${{ steps.resteasy-build.outputs.RESTEASY_VERSION }}"
      - name: Run the Jakarta REST TCK - JDK 17
        run:  |
          echo "RESTEASY_VERSION=${{ steps.resteasy-build.outputs.RESTEASY_VERSION }}"
          cd resteasy-tck-runner
          JAVA_HOME="${{env.JAVA_HOME_17_X64}}"
          echo JAVA_HOME="${JAVA_HOME}"
          export JAVA_HOME
          mvn -version
          mvn clean install -U -B -fae -Dtck.debug.log=true -Dversion.org.jboss.resteasy="${{ steps.resteasy-build.outputs.RESTEASY_VERSION }}"
      - name: Run the Jakarta REST TCK - JDK 21
        run:  |
          echo "RESTEASY_VERSION=${{ steps.resteasy-build.outputs.RESTEASY_VERSION }}"
          cd resteasy-tck-runner
          java -version
          mvn -version
          mvn clean install -U -B -fae -Dtck.debug.log=true -Dversion.org.jboss.resteasy="${{ steps.resteasy-build.outputs.RESTEASY_VERSION }}"
      - uses: actions/upload-artifact@v5
        if: failure()
        with:
          name: test-reports
          path: |
            '**/surefire-reports/'
            '**/failsafe-reports/'
      - uses: actions/upload-artifact@v5
        if: failure()
        with:
          name: server-logs
          path: '**/server.log'

  legacy-run-tck:
    runs-on: ubuntu-latest
    timeout-minutes: 90

    steps:
      - name: Checkout RESTEasy
        uses: actions/checkout@v6
        with:
          path: resteasy
      - name: Checkout RESTEasy TCK Runner
        uses: actions/checkout@v6
        with:
          repository: resteasy/resteasy-tck-runner
          path: resteasy-tck-runner
          ref: 'jakarta-rest-3.1'
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: |
            11
            21
          distribution: 'temurin'
          cache: 'maven'
      - name: Build RESTEasy
        id: resteasy-build
        run:  |
          cd resteasy
          mvn clean install -U -B -fae -DskipTests
          RESTEASY_VERSION="$(mvn -B help:evaluate -Dexpression=project.version -DforceStdout -q)"
          echo "RESTEASY_VERSION=$RESTEASY_VERSION"
          echo "RESTEASY_VERSION=$RESTEASY_VERSION" >> "$GITHUB_OUTPUT"
      - name: Run the Jakarta REST TCK - JDK 11
        run:  |
          echo "RESTEASY_VERSION=${{ steps.resteasy-build.outputs.RESTEASY_VERSION }}"
          cd resteasy-tck-runner
          JAVA_HOME="${{env.JAVA_HOME_11_X64}}"
          echo JAVA_HOME="${JAVA_HOME}"
          export JAVA_HOME
          mvn -version
          mvn clean install -U -B -fae -Dtck.debug.log=true -Dversion.org.jboss.resteasy="${{ steps.resteasy-build.outputs.RESTEASY_VERSION }}" -Dversion.org.wildfly=34.0.0.Final
      - uses: actions/upload-artifact@v5
        if: failure()
        with:
          name: legacy-test-reports
          path: |
            '**/surefire-reports/'
            '**/failsafe-reports/'
      - uses: actions/upload-artifact@v5
        if: failure()
        with:
          name: server-logs
          path: '**/server.log'
