# This workflow is for a nightly run against WildFly upstream

name: WildFly Test Build

on:
  push:
    branches:
      - 'main'
  schedule:
    - cron: '0 0 * * *' # Every day at 00:00 UTC

jobs:
  wildfly-build:
    runs-on: ubuntu-latest
    outputs:
      wildfly-version: ${{steps.version.outputs.wildfly-version}}
    steps:
      - name: Checkout WildFly
        uses: actions/checkout@v4
        with:
          repository: wildfly/wildfly
          fetch-depth: 0
      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          java-version: 8
          distribution: 'temurin'
          cache: 'maven'
      - name: Build WildFly
        run: 'mvn clean install -DskipTests -Dcheckstyle.skip=true -Denforcer.skip=true'
      - id: version
        run: echo "::set-output name=wildfly-version::$(mvn -B help:evaluate -Dexpression=project.version -pl . | grep -v '^\[')"
      - name: Archive the repository
        run: zip -r ~/maven-repository.zip ~/.m2/repository
      - uses: actions/upload-artifact@v3
        with:
          name: maven-repository
          path: ~/maven-repository.zip
          retention-days: 5

  resteasy-build:
    runs-on: ${{ matrix.os }}
    needs: wildfly-build
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        java: ['11', '17']

    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v3
        with:
          name: maven-repository
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'
          cache: 'maven'
      - name: Copy Maven Repository - Linux
        if: runner.os == 'Linux'
        run: unzip -o -d ~/.m2/repository ./maven-repository.zip
      - name: Copy Maven Repository - Windows
        if: runner.os == 'Windows'
        run: 7z x 'maven-repository.zip' '%USERPROFILE%\.m2\repository'
      - name: Build with Maven Java ${{ matrix.java }}
        run: mvn clean install '-Dserver.version=${{needs.wildfly-build.outputs.wildfly-version}}'
      - name: Upload surefire reports
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: surefire-reports-${{ matrix.os }}-${{ matrix.java }}
          path: '**/surefire-reports/*.txt'
      - name: Upload server logs
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: server-logs-${{ matrix.os }}-${{ matrix.java }}
          path: '**/*.log'
