# This workflow is for a nightly run against WildFly upstream

name: WildFly Test Build - 6.2

on:
  push:
    branches:
      - '6.2'
    paths:
      - 'pom.xml'
      - 'providers/**'
      - 'resteasy-bom/**'
      - 'resteasy-cdi/**'
      - 'resteasy-client/**'
      - 'resteasy-client-api/**'
      - 'resteasy-client-utils/**'
      - 'resteasy-core/**'
      - 'resteasy-core-spi/**'
      - 'resteasy-dependencies-bom/**'
      - 'testsuite/arquillian-utils/**'
      - 'testsuite/integration-tests/**'
      - 'wildfly/**'
  pull_request:
    branches:
      - '**'
    paths:
      - '.github/workflows/wildfly-build.yml'
      - 'testsuite/integration-tests/**'
  schedule:
    - cron: '0 0 * * *' # Every day at 00:00 UTC

# Only run the latest job and cancel previous ones
concurrency:
  group: '${{ github.ref || github.run_id }}'
  cancel-in-progress: true

jobs:

  resteasy-build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@v5
      - uses: actions/download-artifact@v6
      - uses: wildfly-extras/wildfly-nightly-download@v1
        id: wildfly-nightly
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: |
            17
            21
            25
          distribution: 'temurin'
          cache: 'maven'
      - name: Build with Maven Java 21 and test with 17
        run: mvn -V clean install '-Dserver.version=${{steps.wildfly-nightly.outputs.wildfly-version}}' '-Djvm=${{env.JAVA_HOME_17_X64}}/bin/java'
      - name: Build with Maven Java 21
        run: mvn -V clean install '-Dserver.version=${{steps.wildfly-nightly.outputs.wildfly-version}}' '-Djvm=${{env.JAVA_HOME_21_X64}}/bin/java'
      - name: Test with ${{ matrix.profile }} - JDK 25
        run:  mvn -V clean install -U -B -fae ${{ matrix.profile }} '-Dserver.version=${{steps.wildfly-nightly.outputs.wildfly-version}}'
      - name: Upload surefire reports
        uses: actions/upload-artifact@v5
        if: failure()
        with:
          name: surefire-reports-${{ matrix.os }}
          path: '**/surefire-reports/'
      - name: Upload server logs
        uses: actions/upload-artifact@v5
        if: failure()
        with:
          name: server-logs-${{ matrix.os }}
          path: '**/*.log'

  additional-profiles:
    runs-on: ubuntu-latest
    timeout-minutes: 120
    strategy:
      fail-fast: false
      matrix:
        profile:
          - '-Dsecurity.manager'
          - '-am -Pprovision-without-resteasy,without-jackson -pl resteasy-client-jetty,resteasy-client-vertx,wildfly/resteasy-channel,/resteasy-dependencies-bom,testsuite/integration-tests'

    steps:
      - uses: actions/checkout@v5
      - uses: wildfly-extras/wildfly-nightly-download@v1
        id: wildfly-nightly
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: |
            17
            21
          distribution: 'temurin'
          cache: 'maven'
      - name: Test with ${{ matrix.profile }} - JDK 17
        run:  |
          mvn -V clean install -U -B -fae ${{ matrix.profile }} '-Dserver.version=${{steps.wildfly-nightly.outputs.wildfly-version}}' '-Djvm=${{env.JAVA_HOME_17_X64}}/bin/java'
      - name: Test with ${{ matrix.profile }} - JDK 21
        run:  |
          mvn -V clean install -U -B -fae ${{ matrix.profile }} '-Dserver.version=${{steps.wildfly-nightly.outputs.wildfly-version}}'
      - uses: actions/upload-artifact@v5
        if: failure()
        with:
          name: surefire-reports-${{ matrix.os }}-${{ matrix.wildfly-version }}
          path: '**/surefire-reports/'
      - uses: actions/upload-artifact@v5
        if: failure()
        with:
          name: server-logs-${{ matrix.os }}-${{ matrix.wildfly-version }}
          path: '**/server.log'

  legacy-build:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 120
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest ]
        wildfly-version: ['28.0.1.Final']

    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: |
            11
            17
          distribution: 'temurin'
          cache: 'maven'
      - name: Test with Java 11 on WildFly ${{ matrix.wildfly-version }} - ${{ matrix.os }}
        run:  |
          mvn clean install -U -B -fae '-Dserver.version=${{ matrix.wildfly-version }}' '-Dgithub.actions' '-Plegacy-wildfly' '-Djvm=${{env.JAVA_HOME_11_X64}}/bin/java'
      - name: Test with Java 17 on WildFly ${{ matrix.wildfly-version }} - ${{ matrix.os }}
        run:  |
          mvn clean install -U -B -fae '-Dserver.version=${{ matrix.wildfly-version }}' '-Dgithub.actions' '-Plegacy-wildfly'
      - uses: actions/upload-artifact@v5
        if: failure()
        with:
          name: surefire-reports-${{ matrix.os }}}-${{ matrix.wildfly-version }}
          path: '**/surefire-reports/'
      - uses: actions/upload-artifact@v5
        if: failure()
        with:
          name: server-logs-${{ matrix.os }}-${{ matrix.wildfly-version }}
          path: '**/server.log'
